<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Decorators</title>
</head>
<body ng-app>


  <div>
	<input ng-model="a"> + <input ng-model="b"> = {{ a + b }}
  </div>
  
  <script src="./bower_components/angular/angular.js"></script>
  <script>
    angular.module('ng')
      .config(function ($provide) {
        // here $delegate == $rootScope
        $provide.decorator('$rootScope', function ($delegate) {

          // let's augment $rootScope.$apply to print the run time
          $delegate.$apply = timerify($delegate.$apply, '$apply');
          return $delegate;
        });
      });

      // takes a function, returns a function that
      // runs the first function and logs the runtime
      function timerify (fn, name) {
        return function () {
          var start = Date.now();
          var ret = fn.apply(this, arguments);
          var end = Date.now();
          console.log(name + ': ' + (end - start) + 'ms');
		  return ret;
        }
      }
  </script>
</body>
</html>
